{
  "name": "icon-server",
  "version": "1.0.0",
  "description": "On-demand icon generation and serving",
  "main": "server.js",
  "scripts": {
    "start": "node server.js"
  },
  "dependencies": {
    "express": "^4.18.2",
    "fs-extra": "^11.1.1",
    "simple-icons": "^7.13.0",
    "sharp": "^0.31.2",
    "axios": "^1.4.0",
    "png2ico": "^1.0.2"
  }
}
