services:
  aria2-pro:
    container_name: aria2-pro
    image: p3terx/aria2-pro:latest
    environment:
      - PUID=${UID}
      - PGID=${GID}
      - UMASK_SET=022
      - RPC_SECRET=${RPC_SECRET}
      - RPC_PORT=6800
      - LISTEN_PORT=6888
      - DISK_CACHE=64M
      - IPV6_MODE=false
      - SPECIAL_MODE=move
      # - SPECIAL_MODE=rclone
      - UPDATE_TRACKERS=true
      - CUSTOM_TRACKER_URL=
      - TZ=${TZ}
    volumes:
      - config:/config
      {{- if eq .osid "darwin" }}
      - ${HOME}/Downloads:/downloads
      {{- end }}
      {{- if eq .chezmoi.os "linux" }}
      - ${HOME}/downloads:/downloads
      {{- end }}
    network_mode: host
    # network_mode: bridge
    # ports:
    #   - 6800:6800
    #   - 6888:6888
    #   - 6888:6888/udp
    restart: always
    logging:
      driver: json-file
      options:
        max-size: 1m

  ariang:
    container_name: ariang
    image: p3terx/ariang:latest
    command: --port 6880 --ipv6
    network_mode: host
    # network_mode: bridge
    # ports:
    # - 6880:6880
    restart: always
    logging:
      driver: json-file
      options:
        max-size: 1m

volumes:
  config:
