{{- $email := promptStringOnce . "email" "Email address" -}}

{{- $ip := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $ip = output "sh" "-c" "ipconfig getifaddr en0 || ipconfig getifaddr en1" | trim -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   $ip = output "sh" "-c" "hostname -I | awk '{print $1}'" | trim -}}
{{- end -}}
{{- if eq $ip "" -}}
{{-   $ip = promptStringOnce . "ip" "Local IP address" -}}
{{- end -}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{-   if eq $computerName "Thomas’ MacBook Pro" -}}
{{-     $hostname = "mbp" -}}
{{-   else if eq $computerName "Mac mini M4" -}}
{{-     $hostname = "mac-mini-m4" -}}
{{-   else if eq $computerName "Mac mini M1" -}}
{{-     $hostname = "mac-mini-m1" -}}
{{-   else if eq $computerName "Thomas’ Mac mini" -}}
{{-     $hostname = "mini" -}}
{{-   end -}}
{{- end -}}

{{- if eq $hostname "mbp" -}}
encryption = "gpg"
[gpg]
  recipient = "DF844F328F7941D4"
{{- end }}

[diff]
  command = "nvim"
  args = ["-d"]
[source]
  url = "git@github.com:gagadesu/dotfiles.git"
[data]
  email = {{ $email | quote }}
  osid = {{ $osid | quote }}
  hostname = {{ $hostname | quote }}
  ip = {{ $ip | quote }}

{{- if eq .chezmoi.os "linux" -}}
{{-   if (or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu")) -}}
{{-   $lxc := promptBool "Is this host on proxmox lxc? (y/n)" }}
{{-   $docker := promptBool "Do you want to install Docker? (y/n)" }}
  lxc = {{ $lxc }}
  docker = {{ $docker }}
{{-   end -}}
{{- end -}}
