{{- $email := promptStringOnce . "email" "Email address" -}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

[data]
  email = {{ $email | quote }}
  osid = {{ $osid | quote }}

{{- if eq $osid "darwin" }}
encryption = "gpg"
[gpg]
  recipient = "DF844F328F7941D4"

[diff]
  command = "nvim"
  args = ["-d"]
{{- end }}
