{{- $email := promptStringOnce . "email" "Email address" -}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{-   if eq $computerName "Thomas’ MacBook Pro" -}}
{{-     $hostname = "mbp" -}}
{{-   else if eq $computerName "Thomas’ Mac mini" -}}
{{-     $hostname = "mini" -}}
{{-   end -}}
{{- end -}}

{{- if eq $hostname "mbp" -}}
encryption = "gpg"
[gpg]
  recipient = "DF844F328F7941D4"
{{- end }}

[diff]
  command = "nvim"
  args = ["-d"]
[data]
  email = {{ $email | quote }}
  osid = {{ $osid | quote }}
  hostname = {{ $hostname | quote }}

{{- if eq .chezmoi.os "linux" -}}
{{-   if (or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu")) -}}
{{-   $docker := promptBool "Do you want to install Docker? (y/n)" }}
  docker = {{ $docker }}
{{-   end -}}
{{- end -}}

# Whether proxmox lxc
{{- if eq .chezmoi.os "linux" }}
{{-   $lxcEnv := (include "sh" "-c" "grep -q 'container=lxc' /proc/1/environ && echo true || echo false") }}
{{-   if eq $lxcEnv "true\n" }}
lxc = true
{{-   else }}
lxc = false
{{-   end }}
{{- end }}
