[user]
{{- if eq .chezmoi.os "darwin" }}
  email = 16465863+gagadesu@users.noreply.github.com
  name = gagadesu
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHP1Jezi2rAvN5t7Lfy69ZXJIV8ESztN5TOa4B8DwPcZ
  # signingKey = CC2332077A5E59FE!
{{- end }}
[core]
	excludesFile = ~/.gitignore
	editor = nvim
[init]
	defaultBranch = main
{{- if eq .chezmoi.os "darwin" }}
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
	gpgsign = true
[tag]
	forcesignannotated = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
{{- end }}
[maintenance]
	repo = ~/.znap/fast-syntax-highlighting
	repo = ~/.znap/zsh-autocomplete
	repo = ~/.znap/zsh-autosuggestions
	repo = ~/.znap/zsh-colored-man-pages
	repo = ~/.znap/zsh-completions
	repo = ~/.znap/zsh-snap
  commit-graph = true
  gc = true
