---
http:
  routers:
    {{- if eq .hostname "home" }}
    ros:
      entryPoints:
        - "https"
      rule: "Host(`ros.home.gachca.com`)"
      middlewares:
        - default-headers
      tls: {}
      service: ros
    pve:
      entryPoints:
        - "https"
      rule: "Host(`pve.home.gachca.com`)"
      middlewares:
        - default-headers
      tls: {}
      service: pve
    adguard:
      entryPoints:
        - "https"
      rule: "Host(`adguard.home.gachca.com`)"
      middlewares:
        - default-headers
      tls: {}
      service: adguard
    nas:
      entryPoints:
        - "https"
      rule: "Host(`nas.home.gachca.com`)"
      middlewares:
        - default-headers
      tls: {}
      service: nas
    ui:
      entryPoints:
        - "https"
      rule: "Host(`ui.home.gachca.com`)"
      middlewares:
        - default-headers
      tls: {}
      service: ui
    hass:
      entryPoints:
        - "https"
      rule: "Host(`hass.home.gachca.com`)"
      middlewares:
        - default-headers
      tls: {}
      service: hass
    plex:
      entryPoints:
        - "https"
      rule: "Host(`plex.home.gachca.com`)"
      middlewares:
        - default-headers
      tls: {}
      service: plex
    jellyfin:
      entryPoints:
        - "https"
      rule: "Host(`jellyfin.home.gachca.com`)"
      middlewares:
        - default-headers
      tls: {}
      service: jellyfin
    grafana:
      entryPoints:
        - "https"
      rule: "Host(`grafana.home.gachca.com`)"
      middlewares:
        - default-headers
      tls: {}
      service: grafana
    # pihole:
    #   entryPoints:
    #     - "https"
    #   rule: "Host(`pihole.home.gachca.com`)"
    #   middlewares:
    #     - default-headers
    #     - addprefix-pihole
    #   tls: {}
    #   service: pihole
    {{- end }}

  services:
    {{- if eq .hostname "home" }}
    ros:
      loadBalancer:
        servers:
          - url: "http://10.0.1.1"
        passHostHeader: true
    pve:
      loadBalancer:
        servers:
          - url: "https://10.0.1.2:8006"
        passHostHeader: true
    adguard:
      loadBalancer:
        servers:
          - url: "http://10.0.0.2"
        passHostHeader: true
    # pihole:
    #   loadBalancer:
    #     servers:
    #       - url: "http://10.0.1.12:80"
    #     passHostHeader: true
    nas:
      loadBalancer:
        servers:
          - url: "https://10.0.1.5:9090"
        passHostHeader: true
    ui:
      loadBalancer:
        servers:
          - url: "https://10.0.1.5:8443"
        passHostHeader: true
    hass:
      loadBalancer:
        servers:
          - url: "http://10.0.1.4:8123"
        passHostHeader: true
    plex:
      loadBalancer:
        servers:
          - url: "http://10.0.1.5:32400"
        passHostHeader: true
    jellyfin:
      loadBalancer:
        servers:
          - url: "http://10.0.1.5:8096"
        passHostHeader: true
    grafana:
      loadBalancer:
        servers:
          - url: "http://10.0.1.5:3003"
        passHostHeader: true
    {{- end }}

  middlewares:
    addprefix-pihole:
      addPrefix:
        prefix: "/admin"
    https-redirect:
      redirectScheme:
        scheme: https

    default-headers:
      headers:
        frameDeny: true
        sslRedirect: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https
        accessControlAllowMethods:
          - GET
          - OPTIONS
          - PUT
        accessControlAllowHeaders: ["x-api-key, Origin, Authorization"]
        accessControlAllowOriginList: "*"
        accessControlAllowCredentials: true
        accessControlMaxAge: 100
        addVaryHeader: true

    idrac:
      headers:
        frameDeny: true
        sslRedirect: true
        browserXssFilter: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https

    default-whitelist:
      ipWhiteList:
        sourceRange:
        - "10.0.0.0/8"
        - "192.168.0.0/16"
        - "172.16.0.0/12"

    secured:
      chain:
        middlewares:
        - default-whitelist
        - default-headers
