services:
  watchtower:
    container_name: watchtower
    restart: always
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
    command: --cleanup -i 3600
    image: containrrr/watchtower
