#!/bin/bash

# Create .env
read -p "DATABASE_NAME: " DATABASE_NAME
read -p "DATABASE_USER: " DATABASE_USER
read -p "DATABASE_PASSWORD: " DATABASE_PASSWORD

echo "DATABASE_NAME=$DATABASE_NAME" >>.env
echo "DATABASE_USER=$DATABASE_USER" >>.env
echo "DATABASE_PASSWORD=$DATABASE_PASSWORD" >>.env
