services:
  adguard:
    image: adguard/adguardhome:latest
    container_name: adguard
    restart: always
    volumes:
      - work:/opt/adguardhome/work
      - ./conf:/opt/adguardhome/conf
    ports:
      - 53:53/tcp # plain DNS
      - 53:53/udp # plain DNS
      - 3000:3000/tcp # admin panel
      - 784:784/udp # DNS-over-QUIC server
      - 853:853/udp # DNS-over-QUIC server

volumes:
  work:
