# ==========================================
# Fonts & Text
# ==========================================
font-family = "OperatorMono Nerd Font Mono"
font-style-bold = "Medium"
font-style-bold-italic = "Medium Italic"
font-size = 17
font-thicken = true
grapheme-width-method = "unicode"
adjust-cell-width = 0%
font-feature = "liga", "dlig", "calt"

# ==========================================
# Theme & Colors
# ==========================================
theme = "Catppuccin Frappe"
palette = 0=#1e222a
background = 1e222a
foreground = dcdfe4
selection-background = 405060
selection-foreground = dcdfe4
selection-invert-fg-bg = true

# ==========================================
# Cursor Settings
# ==========================================
cursor-style = block
cursor-style-blink = false
cursor-color = e5c07b

# ==========================================
# Window & Appearance
# ==========================================
window-padding-x = 15
window-padding-y = 7
window-save-state = "always"
window-decoration = true
background-opacity = 0.8
#background-blur = macos-glass-regular
background-blur = macos-glass-clear
macos-titlebar-style = transparent
#background-blur-radius = 40
macos-icon = official
adjust-cell-height = +15%

# ==========================================
# Quick Terminal
# ==========================================
quick-terminal-position = center
quick-terminal-screen = mouse
quick-terminal-animation-duration = 0.2

# ==========================================
# Behavior & Interaction
# ==========================================
scrollback-limit = 20000
mouse-hide-while-typing = true
auto-update = download
confirm-close-surface = true

# ==========================================
# Keybindings
# ==========================================
keybind = global:alt+grave_accent=toggle_quick_terminal

shell-integration-features = ssh-terminfo

# ==========================================
# Shader
# ==========================================
#custom-shader = ~/.config/ghostty/shaders/cursor_blaze.glsl
custom-shader = ~/.config/ghostty/shaders/cursor_tail.glsl
custom-shader-animation = always
