#!/bin/bash

# Create .env
read -p "TELEGRAM_BOT_API_KEY: " TELEGRAM_BOT_API_KEY
read -p "GEMINI_API_KEYS: " GEMINI_API_KEYS
echo "TELEGRAM_BOT_API_KEY=$TELEGRAM_BOT_API_KEY" >>.env
echo "GEMINI_API_KEYS=$GEMINI_API_KEYS" >>.env
